application:
    image: ${CI_REGISTRY}/${CI_PROJECT_PATH}:${SERVICE_NAME}-${CI_PIPELINE_ID}

imagePullSecret:
    server: ${CI_REGISTRY}
    username: ${CI_REGISTRY_USER}
    password: ${CI_JOB_TOKEN}


environment_name: ${CI_ENVIRONMENT_NAME}
