hosts:
    host: "https://rnd-identityserver-dev.godeltech.com"

security:
    secret_key: ${SECRET_KEY}

image:
    registry: ${CI_REGISTRY}
    username: ${CI_DEPLOY_USER}
    password: ${CI_DEPLOY_PASSWORD}
    location: ${CI_REGISTRY}/${CI_PROJECT_PATH}:${CI_COMMIT_HASH}

environment_name: ${CI_ENVIRONMENT_NAME}
