body {
  font-family: Arial, sans-serif;
  background-color: #e6f2ff;
}

h2 {
  text-align: center;
  color: #0077b3;
  margin-top: 50px;
}

form {
  margin: 50px auto;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 5px;
}

.register-link {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.register-link p {
  margin: 0;
}

.register-link a {
  color: #0077b3;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #0077b3;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005b8f;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}

@media (max-width: 600px) {
  form {
    padding: 20px;
  }
  
  input[type="email"],
  input[type="password"] {
    font-size: 14px;
  }
  
  button[type="submit"] {
    font-size: 14px;
    padding: 8px;
  }
}
