*{
  font-family: Arial;
}

.form_auth_block{
    width: 500px;
    height: 450px;
    margin: 0 auto;
    margin-top: 40px;
    border: double 4px;
    background-size: cover;
    border-radius: 20px;
    border-color: #add8e6;
}
.form_auth_block_content{
  padding-top: 5%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;
  border:none;
  outline: none;
  border: solid;
  border-color: grey;
  padding-left: 15px;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #add8e6;
}

#rq_model{
  display: none;
}
